@model UpdateCategoryCommand
@{
    ViewData["Title"] = "Update";
    ViewData["Title"] = "Kategori Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="container top-entete mb-2">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <h4 class="text-primary" style="line-height:15px"><i class="fa-solid fa-plus me-2"></i>Kategori Güncelleme İşlemi </h4>
        </div>
    </div>
</div>

<div class="container formulaire mt-3">
    <form method="post">
        <input type="hidden" asp-for="Id" />
        <label class="form-label">Kategori adi</label>
        <input type="text" class="form-control"  asp-for="Name"/>
        <br />
        <label class="form-label">Kategori Resmi</label>
        <input type="text" class="form-control" asp-for="ImageUrl" />
        <br />
        <div class="d-flex justify-content-center">
            <button class="btn btn-outline-success" type="submit">
                <i class="fa-solid fa-pen"></i>
                Güncelle</button>
        </div>
    </form>

</div>
