
@{
    Layout = null;
}

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="#">
                <h6 class="fs-6 fw-bolder"><span class="text-danger">KAI</span><span class="text-secondary">RA</span> - Admin</h6>

            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Product" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-gauge me-2"></i>
                        <span class="hide-menu fw-light">Ürünler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Category" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-school me-2"></i>
                        <span class="hide-menu fw-light">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Brand" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-chalkboard-teacher me-2"></i>
                        <span class="hide-menu fw-light">Markalar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Service" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-eject me-2"></i>
                        <span class="hide-menu fw-light">Hizmetler </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="ContactInfo" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-address-book me-2"></i>
                        <span class="hide-menu fw-light text-nowrap">İletişim Bilgiler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Subscriber" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-images me-2"></i>
                        <span class="hide-menu fw-light">Abonelik</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Gallery" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-images me-2"></i>
                        <span class="hide-menu fw-light">Gallery</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="SocialMedia" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-handshake me-2"></i>
                        <span class="hide-menu fw-light">Sosyal Medya</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Testimonial" asp-area="Admin" aria-expanded="false">
                        <i class="fa-solid fa-calendar-week me-2"></i>
                        <span class="hide-menu fw-light">Değenlendirme</span>
                    </a>
                </li> 
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-action="Index" asp-controller="Default" asp-area="" aria-expanded="false">
                        <i class="fa-solid fa-arrow-left me-2"></i>
                        <span class="hide-menu fw-light">Siteye Git</span>
                    </a>
                </li>
             
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
