@model GetContactInfoQueryResult
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-6 col-sm-6">
    <div class="footer-menu footer-menu-004 border-animation-left">
        <h5 class="widget-title text-uppercase mb-4">Bize Ulaşın</h5>
        <p>
            Herhangi bir sorunuz veya öneriniz var mı?
            <a href="mailto:@Model.Email"
                class="item-anchor">@Model.Email</a>
        </p>
        <p>
            Desteğe mi ihtiyacınız var? Bizi arayın.
            <a href="tel:@Model.PhoneNumber" class="item-anchor">
               @Model.PhoneNumber
            </a>
        </p>
    </div>
</div>