@model CreateBrandCommand
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container top-entete mb-2">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <h4 class="text-primary" style="line-height:15px"><i class="fa-solid fa-plus me-2"></i>Marka Ekleme İşlemi </h4>
        </div>
    </div>
</div>

<div class="container formulaire mt-3">
    <form method="post" >
        <label class="form-label me-1 mt-3">Marka Adı</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Marka Adı Giriniz">
        <span asp-validation-for="Name" class="text-danger my-1"></span><br />
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-plus me-2"></i>Kaydet
            </button>
        </div>
    </form>
</div>

